# Visual Studio / Rider / VSCode
.vs/
.idea/
.vscode/
*.user
*.userosscache
*.sln.docstates
*.suo

# Build Results & Artifacts
[Bb]in/
[Oo]bj/
publish/
release/
Release/
Debug/
x64/
x86/

# Output files
*.pdb
*.log
debug.log

# User local settings & cache
settings.json
**/settings.json

# Screenshots & OS files
screenshots/current_screen.png
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
